#.env
.env

#modules
node_modules

#logs
logs

#build
dist

#temp
temp

#cache
.cache

#coverage
coverage

#npm
.npm

#yarn
.yarn

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# local env copies
*.local

